body{
  font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

/*Main Container*/

.addGigContainer{
  margin: 16px 32px;
  padding: 16px;
  width: 100;
  height: calc(100vh - 60px);
  display: flex;
  border: 1px solid black;
  box-sizing: border-box;
}

/*left side*/

.leftContainer{
  width: 50%;
  border: 1px solid black;
}

.leftContainer .addGigHeader{
  height: 20%;
  width: 60%;
  font-size: 40px;
  line-height: 120%;
  font-weight: 700;
  color: #404145;;
}

.leftContainer .addGigAnimation{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*right side*/

.rightContainer{
  width: 50%;
  border: 1px solid black;
}

#regForm {
  width: 100%;
  background-color: #ffffff;
}

input {
  margin: 0;
  padding: 0;
  height: 40px;
  font-size: 16px;
  margin-bottom: 32px;
  border-radius: 4px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #c5c6c9;
}

input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #04AA6D;
}
