/*home content*/

/*Header*/
.buyerDashboard-content .personalizedHeader{
    min-height: 24px;
    margin-top: 32px;
    margin-bottom: 64px;
    font-size: 32px;
    font-weight: 700;
    color: #222325;
    line-height: 140%;
    padding: 0 32px;
}

/*Main Container*/
.buyerDashboard-content .mainContent{
    margin: 0 32px;
}

.buyerDashboard-content #content{
    margin-top: 32px;
    margin-bottom: 32px;
}

.buyerDashboard-content .row{
    display: flex;
    justify-content: space-between;
}

.buyerDashboard-content .row .leftSide{
    display: flex;
    align-items: center;
}

.buyerDashboard-content svg{
    height: 32px;
    width: 32px;
}

.buyerDashboard-content a{
    color: #222325;
    text-decoration: none;
}

.buyerDashboard-content #content h3{ 
    margin-bottom: 16px;
}
@media only screen and (min-width: 600px) {
    .personalized-header {
        margin-top: 8px;
        padding: 0;
    }
}

