*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
}
header {
    background-color: #fff;
    color: #62646A;
}
header .upperHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 32px;
}

/*logo*/
.logo{
    width: auto;
}
.logo a {
    font-size: 24px;
    color: #1dbf73;
    text-decoration: none;
    font-weight: bold;
}
.logo a span {
    width: 10%;
}
/*search bar*/

.upperHeader .searchBar{
    width: 54%;
    justify-content: space-between;
}
.upperHeader .searchBar form{
    display: flex;
    width: 100%;
}
.upperHeader .searchBar input[type=text] {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    border: 1px solid #c5c6c9;
    border-radius: 4px 0 0 4px;
    border-right: 0;
}
.upperHeader .searchBar button {
    display: block;
    text-align: left;
    margin: 0;
    padding: 14px;
    cursor: pointer;
    border: 1px solid #c5c6c9;
    border-radius: 0 4px 4px 0;
    background-color: #000000;
    color: #fff;
    transition: ease-in-out 0.3s;
}
.upperHeader .searchBar button:hover {
    color: #333;
    background: #fff;
}
.submenu {
    position: absolute;
}
.submenu ul{
    flex-direction: column;
    position: absolute;
    background-color: white;
    align-items: flex-start;
    transition: all 0.5s ease;
    width: 20rem;
    right: -3rem;
    top: 4.5rem;
    border-radius: 0.325rem;
    gap: 0;
    padding: 1rem 0rem;
    opacity: 0;
    box-shadow: 0px 0px 100px rgba(20, 18, 18, 0.25);
    display: none;
}
.submenu ul li {
    list-style-type: none;
    position: relative;
    padding: 0.625rem 0 0.5rem;
}

/*navbar and navigation links*/

.upperHeader .navbar{
    display: flex;
    align-items: center;
    width: 32%;
}
.upperHeader nav{
    width: 100%;
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-links .svgLinks{
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.nav-links .wordLinks{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.nav-links .imgLinks{
    display: flex;
    width: auto; 
}
.navbar .nav-links li {
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-links a {
    color: #62646A;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:end;
    box-sizing: border-box;
}
.nav-links .wordLink{
    padding-bottom: 4px;
    padding-right: 4px;
}
.nav-links .wordLink:hover {
    text-decoration: none;
    border-bottom: 4px solid #1dbf73;
    padding-bottom: 0; 
    box-sizing: border-box;
}
.nav-links .imgLink{
    padding: 2px;
    border: 4px solid #1dbf73;
    border-radius: 100%;
}
.upperHeader svg {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    font-size: 14px;
    color: #62646A;
    align-items: center;
    margin: 3px;
}

.upperHeader .notificationSign{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: absolute;
    background-color: crimson;
}

/*profile pic*/
.upperHeader img{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover;
}

/*header categories*/
.headerCategories{
    width: 100%;
}
.headerCategories nav .nav-links li{
    display: inline-block;
}
.headerCategories nav .nav-links {
    width: auto;
    overflow-x: auto;
    border-top: 2px solid #62646A;
    border-bottom: 2px solid #62646A;
    padding: 0px 32px;
}


@media only screen and (max-width: 900px) {
    header .upperHeader .row{
        display: flex;
        flex-direction: column;
    }

}