
.card-slider{
    margin-bottom: 0;
}
.card-slider .carousel{
    display: grid;
    grid-auto-flow: column;  
    grid-auto-columns: calc((100%/5));
    gap: 20px;
    overflow: hidden;
}
.card-slider .carousel.dragging.card{
    cursor: grab;
    user-select: none;
}
.card-slider ul{
    padding-left: 0;
    margin-left: 7px;
}
.card-slider .carousel .card{
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 10px; 
    cursor: pointer;
}
.card-slider .carousel .card .img img{
    width: 100%;
    min-height: 150px;
    height: auto;
    border-radius: 8px;
}
.card-slider .carousel .card .user-details{

}
.card-slider .carousel .card .user-details .profile-pic{
    margin-right: 2px;
}
.card-slider .carousel .card .user-details .profile-pic img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}
.checked {
    color: orange;
}


@media screen and (max-width: 1200px) {
    .card-slider .carousel{
        grid-auto-columns: calc((100%/3) - 16px);
    }
    .card-slider ul{
        padding-left: 0;
        margin-left: 4px;
        margin-right: -6px;
    }
}
@media screen and (max-width: 900px) {
    .card-slider .carousel{
        grid-auto-columns: calc((100%/2) - 16px);
}
.card-slider ul{
    padding-left: 0;
    margin-left: 4px;
    margin-right: -6px;
}
}
@media screen and (max-width: 600px) {
    .card-slider .carousel{
        grid-auto-columns: calc((100%));
}
.card-slider ul{
    padding-left: 0;
    margin-left: 0;
}
}