* {
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #f7f7f7;
}
.wrapper{
    display: flex;
    gap: 16px;
    margin: 32px 16px;
    height: calc(100vh - 124px);
}

/*Main container*/

/*Right Container*/
.userList{
    border: 2px solid #c5c6c9;
    width: 25%;
    overflow-y: scroll;
}
.userList p{
    color: #222325;
    font-size: 16px;

}
.userList .contactCard .contactProfilePicture{
    height: 48px;
    width: 48px;
    border-radius: 100%;
    object-fit: cover;
    padding: 2px;
    margin-right: 6px;
}


/*Middle Container */

/*Left Container*/
.receiverInfo{
    box-sizing: border-box;
    padding: 16px 16px 0 16px;
    display: flex;
    flex-direction: column;
    border: 2px solid #c5c6c9;
    width: 25%;
}
.receiverInfo .info{
    height: 50%;
}
.info .header a{
    color: #222325;
}
.info .header p{
    display: inline-block;
    margin-bottom: 16px;
}
.info .content{
    display: flex;
    flex-direction: column;
}
.info .content .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.info .content .row p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.info .content .row .leftSide{
    color: #74767e;
}
.info .content .row .rightSide{
    color: #404145;
}
.receiverInfo .animation{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}