body{
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}


/* Display Gig Container */
.displayGigContainer{
    padding: 16px 32px;
    width: 100%;
}
.displayGigContainer svg{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}


/* category */
.category{
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 2px;
    margin: 32px 32px 0 32px;
    color: #222325;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
}


/* Modal Stylings */

/* modal behaviour */
.overlay{
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;

}
#overlay{
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.modal {
    z-index: 1;
    display: none;
    position: absolute;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    height: auto;
}
.confirmation{
    display: none;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
.modal .confirmation button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.topRightContainer .fade {
    opacity: 1;
}

/* modal content */
.modal form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal input, textarea{
    margin-bottom: 16px;
}
.modal .type-1{
    font-weight: 600;
    font-size: 16px;
    color: #404145;
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.modal .type-2{
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #62646a;
}
.modal .row{
    display: flex;
    flex-direction: column !important;
}
.modal .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.modal .buttons button{
    width: 50%;
    padding: 16px;
    margin-top: 16px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    border: none;
    transition: ease-in-out 0.3s;
    background-color: #31d65a;
}
.modal .buttons button:hover{
    color: #333;
    background-color: rgb(241, 241, 241);
    font-weight: 500;
}


/*Main Container*/
.displayGigContainer{
    background-color: #f7f7f7 !important;
}
.displayGigContainer .mainContainer{
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 24px;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    height: auto;
}

/* top container */
 .displayGigContainer .topContainer{
    display: flex;
    width: 100%;
    gap: 48px;
}

/* top left container */
.displayGigContainer .topLeftContainer{
    width: 50%;
}
.topLeftContainer .seller{
    display: flex;
    align-items: center;
}
.topLeftContainer .seller a{
    text-decoration: none;
    color: #222325;
}
.topLeftContainer .seller img{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover;
}
.topLeftContainer .gigImageSlider{
    width: 100%;
    border: 1px solid black;
}
.topLeftContainer .sliderContainer{
    width: 100%;
}
.topLeftContainer .sliderContainer img{
    width: 100%;
}
.topLeftContainer .navigationArrows{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left, .right {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.right {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.left:hover, .right:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.topLeftContainer .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.topLeftContainer .category, .topLeftContainer .seller, .topLeftContainer .gigTitle{
    margin-bottom: 16px;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*top right container*/

/* packages */
.tab {
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: #f1f1f1;
    border-radius: 8px 8px 0 0;
}
.tab button {
    width: calc(100% / 3);
    background-color: #f7f7f7;
    border: 0.3px solid rgb(226, 226, 226);
    cursor: pointer;
    padding: 8px 32px;
    transition: 0.3s;
    font-weight: 600;
    font-size: 16px;
}
.tab button:hover {
    background-color: #000000;
    color: #fff;
}
.tab button.active {
    background-color: #000000;
    color: white;
}
.tabcontent {
    display: none;
    border: 1px solid #dedddd;
    border-top: none;
}
.tabcontent:first-child{
    display: block;
}
.columns {
    width:100%;
}
.columns:first-child{
    display: block;
} 
.columns .price {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.columns .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.columns .price .header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
}
.columns .price li {
    text-align: center;
}
.button {
    background-color: #1dbf73;
    width: 100%;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
ul button{
    padding: 8px;
    margin-top: 16px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: #000000;
    border: none;
}
ul button:hover{
    background-color: #f7f7f7;
    color: #404145;
    border: none;
    transition: ease-in-out 0.3s;
}

/* milestones */

.topRightContainer .milestoneApproach{

}



/* media queries */
@media only screen and (max-width: 900px) {
    .topContainer{
        display: flex;
        flex-direction: column;
    }
    .displayGigContainer .topLeftContainer, .topRightContainer{
        width: 100%;
    }
    .modal{
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .topContainer{
        display: flex;
        flex-direction: column;
    }
    .displayGigContainer .topLeftContainer, .topRightContainer{
        width: 100%;
    }
    .tab button {
        padding: 8px 16px;
        font-size: 12px;
    }
    .modal{
        width: 85%;
    }
}
