/* Earnings stuff */

.earningsHeading{
    /* display: flex; */
    justify-content:center;
    align-items: center;
    /* border: 1px solid #c5c6c9; */
    padding: 16px;
    font-size: 16px;
    border-radius:15px ;
}
/**/