/* Earnings stuff */

.earningsHeading{
    /* display: flex; */
    justify-content:center;
    align-items: center;
    /* border: 1px solid #c5c6c9; */
    padding: 16px;
    font-size: 16px;
    border-radius:15px ;
}

.sellerEarningsContainer{
    height: 100%;
    width: 100%;
    padding: 16px 32px;
}

.sellerEarningsHeader{
    min-height: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 32px;
    font-weight: 700;
    color: #222325;
    line-height: 140%;
    padding: 0 32px;
}