.gigCard{
    width: calc(100% / 5 - 16px);
    height: 380px;
    border: 2px solid #dadbdd;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.sellerProfileContainer .sub-container .sellerUser-contribution .Gig-content .gigCard{
    width: calc(100% / 3 - 16px);
    height: 380px;
    border: 2px solid #dadbdd;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.gigCard .user-details img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4px;
}

.deleteContainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor:auto;
}

.deleteContainer 
.dltIcon{
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.gigCard 
.coverImg img{
    width: 100%;
    height: 160px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 4px;
}
.gigCard
.coverImg
{
    display: flex; 
         align-items: end;
    /* justify-content: center */
}
.gigCard .rating{
    display: flex;
}
.gigCard:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}
.gigCard .cardRow{
    display: flex;
}
.gigCard .gigTitle{
    height: 50px;
    /* margin: 1px 0; */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    text-align: justify;
}
.gigCard .price{
    margin: 4px 0;
}

.gigCard .description{
    width: 250px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.gigCard .cardRow,.gigTitle,.price,.rating{
    padding: 0 8px;
}
.gigCard .links{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gigCard .links a{
    text-decoration: none;
    color: #fff;
}
.gigCard .links a:hover{
    text-decoration: none;
    color: #000;
}

.gigCard button{
    text-decoration: none;
    width: 100% !important;
    height: 25px;
    width: 50%;
    padding: 0px !important;
    margin-top: 0px !important;
    width: 100%;
    color: #fff;
    border-radius: 8px;
}
.gigCard button:hover{
    color: black !important;
}
.gigCard .buttonType-1{
    border-radius: 0 0 8px 8px !important;
}

/* .gigCard .buttonType-1:hover{
    color: black;
} */

.gigCard .buttonType-2{
    border-radius: 0 0 8px 0 !important;
}

.deleteContainer
.dltIcon
button
a
{
    text-decoration: none;
}

.deleteContainer
.dltIcon
button
{
    border: none;
}

@media only screen and (max-width: 1200px) {
    .gigCard{
        width: calc(100% / 2 - 16px);
    }

    .gigCard .description{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 900px) {
    .gigCard{
        width: calc(100% / 2 - 16px);
        height: auto;
    }
    .gigCard .coverImg img{
        height: 200px;
    }
}


@media only screen and (max-width: 600px) {
    .gigCard{
        width: 100%;
        height: auto;
    }
    .gigCard .coverImg img{
        height: 200px;
    }
}