body{
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;;
}

.slider-container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 100%;
    height: 850px;
    border-radius: 10px;
    overflow: hidden;
  }
  
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
  }

  
.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 750px;
}

@media only screen and (max-width: 600px) {
    .slider{
        width: 100%;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
      }
    .slides{
        width: 500%;
        height: 300px;
        display: flex;
    }

    .slide img{
        width: 100%;
        height: 300px;
    }

    .slides .navigation-auto{
        margin-top: 270px;
    }

}
  
/*css for manual slide navigation*/

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #31d65a;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}
  

  /*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 95%;
    justify-content: center;
    margin-top: 770px;
}

.navigation-auto div{
    border: 2px solid #31d65a;
    padding: 8px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
background: #31d65a;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
background: #31d65a;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
background: #31d65a;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
background: #31d65a;
}


/*category-container*/

.category-container{
    margin: 0;
    padding: 0;
}

.category-container h1{
    color: #404145;
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
}

.category-container ul{
    list-style: none;
    list-style-image: none;
}

.category-container ul .list-1, .category-container ul .list-2{
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.category-container ul li{
    display: flex;
    flex-direction: column;
    border: 1px solid #c5c6c9;
    border-radius: 10px;
    height: 100px;
    width: 200px;
    padding: 16px;
    margin-left: 16px;
}

.category-container a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-container img{
    justify-content: center;
    width: 48px;
    height: 48px
}

@media only screen and (max-width: 600px) {


    .category-container{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .categories-list{
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    
    .categories-list li{
        margin-bottom: 5px;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    
    .category-container ul .list-1, .category-container ul .list-2{
        display: flex;
        flex-direction: column;
    }


    .category-container ul li{
        display: flex;
        flex-direction: column;
        border: 1px solid #c5c6c9;
        border-radius: 10px;
        height: 70px;
        width: 140px;
        padding: 16px;
        margin-left: 16px;
    }

}