.job-card{
    width: 100%!important;
    min-height: 150px;
    height: auto;
    border: 1px solid #dadbdd!important;
    color: #0e0e0f;
    border-radius: 5px!important;
    position: relative;
    /* cursor: pointer; */
    padding: 16px;
    background-color: #fff;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2)!important;
}

.job-card:hover{
    transition:box-shadow 0.3s ease!important;
    box-shadow: 10px 10px 20px 0 rgb(36, 36, 36, 0.6)!important;
    /* cursor: pointer!important; */
}

.job-card a{
    color: #0e0e0f;
    font-size: 16px;
}
.job-card .title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 2px solid #dadbdd;
    color:#007bff !important;
}
.job-card .description p{
    display: -webkit-box!important;
    -webkit-line-clamp: 3!important;
    -webkit-box-orient: vertical!important;
    text-align: justify!important;  
    overflow: hidden!important;
}
.job-data{
    margin-top: 12px;
    padding-top: 8px;
}
.job-data-basic{
    margin-bottom: 8px;
}
.job-card .job-data-basic{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.job-card .job-data-auction{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.job-card .category,.job-card .price,.job-card .flexibility,.job-card .start,.job-card .end, .job-card .base-bid, .job-card .min-bid, .job-card .current-highest .auction{
    display: flex;
    align-items: center;
}
.job-card svg{
    height: 20px;
    width: 20px;
}


.job-card .viewJob-Proposals button{
    color: green;
    width: auto;
}