.jobPropMainContainer{
    /* margin: 0 auto; */
    padding: 16px 32px;
    border-radius: 10px;
    margin-bottom:16px;
    min-height: calc(100vh - 150px);
}

.jobPropHeader{
    min-height: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 700;
    color: #222325 !important;
    line-height: 140%;
    padding: 0 32px;
}

.jobPropSubContainer{
    margin-top: 8px;
    display: flex;
    justify-content:space-around;
    gap: 64px;
    margin-left: 32px;
    margin-right: 32px;
    padding: 0px 16px;
    margin-bottom: 24px;
    /* height: 100%; */
}

.jobPropMainContainer .propSubLeftCont{
    max-height: calc(100vh - 150px);
    height: 100%;
    width:35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jobPropMainContainer .propSubLeftCont .animationImg{
    /* height: 85%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer{
    justify-content: center;
    align-items: center;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerHeader{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    border: 2px solid #c5c6c9;
    padding:16px;
    margin-bottom: 24px;
    border-radius: 8px;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerHeader .jobPropCardContainerTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerHeader .jobPropCardContainerTitle h3{
    color: #222325;
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerHeader .jobPropCardContainerFilter{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 16px;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerHeader .jobPropCardContainerFilter form .PropCardSelection  select{
    font: 400 16px / 24px Macan, Helvetica Neue, Arial, sans-serif;
    border: #c5c6c9 1px solid;
    width: 170px;    
    height: 30px;
    border-radius: 8px;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerHeader .jobPropCardContainerFilter form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerHeader .jobPropCardContainerFilter form .PropCardSelectBtn button{
    margin-bottom: 0px!important;
    border: #c5c6c9 1px solid;
    width: 100px;
    border-radius: 8px;
    height: 30px;
    font-size: 16px;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerHeader .jobPropCardContainerFilter .PropCardSelectBtn button:hover{
    background: #31d65a;
    color: #fff;
    cursor: pointer;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard{
    border: #c5c6c9 1px solid;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 0.01px rgb(0, 0, 0.3);
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard:hover{
    box-shadow: 8px 8px 8px rgb(0, 0, 0.3);
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard .jobProposalCardHead{
    display: flex;
    gap: 32px;
    justify-content:space-between;
    align-items:flex-end;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard .jobProposalCardHead .jobProposalSellerPic{
    /* display: flex;
    align-items: center; */
    /* justify-content: center; */
}

/* .jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard .jobProposalCardHead .jobProposalCardTitle{
    display: flex;
    justify-content: center;
    align-items: center;

} */

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard .jobProposalCardHead .jobProposalCardTitle h3{
    font-size: 16px;
    color:#007bff;
    margin-bottom: 40px;
    margin-top: 32px;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard .jobProposalCardHead .jobProposalSellerPic img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 16px;
}
.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard .jobProposalDesc{
    margin-bottom: 16px;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard .jobProposalFile button{
    width:120px;
    display: block;
} 

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard .jobProposalFile a{
    text-decoration: none;
    color: black;
}
.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard .jobProposalFile a:hover{
    color: #fff;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard .jobProposalButtons{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    gap: 16px;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard button{
    width: 80px;
    height: 40px;  
    border-radius: 8px; 
    border: #c5c6c9 1px solid;
    font-size: 16px;
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard button:hover{
    background: #31d65a;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width:1200px) {
    .jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard button{
        margin-bottom: 0px!important;
    }
    
}

.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard{

}
.jobPropMainContainer .jobPropSubContainer .propSubRightCont .jobPropCardContainer .jobPropCardContainerContent .jobProposalCard{

}

@media (max-width:900px) {
    .jobPropMainContainer .jobPropSubContainer{
        display: block;
    }

    .jobPropMainContainer .jobPropSubContainer .propSubRightCont{
        width: 100%;
    }

    .jobPropMainContainer .jobPropSubContainer .propSubLeftCont{
        width: 100%;
    }
}

@media (max-width:600px) {
    
}