body {
  font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  }

  .container {
  background-color: white;
  border-radius: 10px;
  border-color: #f7f7f7;
  display: block;
  margin: auto;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 100px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"] {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 15px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background: #f6f6f6;
    transition: ease-in-out 0.2s;
  }

  input[type="text"]:hover,
  input[type="password"]:hover,
  input[type="email"]:hover,
  input[type="date"]:hover {
    background-color: #e9e8e8;
  }

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="date"]:focus {
    width: 100%;
    padding: 15px;
    margin: 5px 0 0px 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background: #f8f8f8;
  }
  
  .registerbtn {
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 5px;
    border: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: ease-in-out 0.3s;
    font-weight: 500;
    font-size: 16px;
    background-color: #31d65a;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  }

  .registerbtn:hover {
    color: #31d65a;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.05);
    
  }
  
  .header {
    color: #333;
    align-content: center;
    font-size: xx-large;
    margin-bottom: 30px;
    font-weight: 500;
  }

  .error {
    display: block;
    font-size: 12px;
    color: red;
  }

  .fieldset {
    margin: 0 0 15px 0;
  }

  .normal-blue-font
  {
    color: #333;
    font-size: small;
    padding-bottom: 20px;
    text-decoration: none;
  }