body{
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
header{
    background-color: #fff !important;
}
.footer{
    background-color: #fff !important;
}

/* Main Container */
.orderContainer{
    margin: 16px 32px;
    padding: 16px 32px;
}
.orderContainer .type-1{
    display: block;
    margin-top: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #404145;
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.orderContainer .type-2 {
    display: block;
    font: 400 16px / 24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #62646a;
}
.orderContainer textarea{
    font: 16px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px;
    height: 25%;
    cursor: auto;
}

/* Tab Section */
.orderContainerHeader{
    border-bottom: 2px solid #c5c6c9;
}
.orderContainerHeader button {
    cursor: pointer;
    background-color: inherit;
    font-size: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-right: 16px;
    padding-bottom: 4px;
}
.orderContainerHeader button:hover {
    color: #1dbf73;
    border-bottom: 4px solid #1dbf73; 
}
.tablinks{
    border-bottom: none;
}
.active{
    color: #1dbf73;
    border-bottom: 4px solid #1dbf73; 
}

/*Tab Content*/
.orderContent{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    height: 600px;
}

/* Left Container*/
.userActivity{
    width: 56%;
    height: 100%;
    background-color: #fff;
    margin-top: 16px;
    border: 1px solid #c5c6c9;
    border-radius: 8px;
}

/* Tab 1 */
.userActivity .tabContent{
    padding: 16px 16px 16px 0;
}
.userActivity p{
    text-align: justify;
}

/* Chat Section */
#activity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/*chat header*/
#activity .header{
    border-bottom: 2px solid #333;
    padding-bottom: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
#activity .receiver{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#activity .receiver .dot{
    height: 24px;
    width: 24px;
    border-radius: 100%;
    margin-right: 6px;
}
#activity .receiver img{
    height: 48px;
    width: 48px;
    border-radius: 100%;
    object-fit: cover;
    padding: 2px;
    margin-right: 6px;
}
.receiver .receiverActive{
    background-color: #1dbf73;
}
.receiver .receiverOffline{
    background-color: crimson;
}
.receiver .upperSection{
    display: flex;
    align-items: center;
}
.receiver .rightSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.receiver h1{
    font-size: 18px;
    line-height: 100%;

} 
.receiver a{
    color: #404145;
    text-decoration: underline;
}

/*Messages*/
#activity .innerContainer{
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 16px 16px 32px 16px;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.innerContainer::-webkit-scrollbar { 
    display: none;  
}
.messageContainer {
    width: fit-content;
    max-width: 70%;
    float: left;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.darker {
    float: right;
    border-color: #ccc;
    background-color: #ddd;
}
P{
    display: flex;
    flex-direction: column;
}
.innerContainer .senderContent{
    display: flex;
    align-items: center;
}
.innerContainer .senderContent img{
    margin-right: 16px;

}
.innerContainer .receiverContent{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.innerContainer .receiverContent img{
    margin-left: 16px;
}
.messageContainer::after {
    content: "";
    clear: both;
    display: table;
}
.messageContainer img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover;
}
.time-right {
    color: #aaa;
}
.time-left {
    display: flex;
    justify-content: end;
    color: #999;
}

/*chat footer*/
#activity .chatFooter{
    height: 8%;
    border-top: 2px solid #333;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.chatFooter .attachement input{
    display: none;
}
.chatFooter .attachement label{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    border: 2px solid #333;
    border-radius: 8px;
}
.chatFooter .attachement svg{
    height: 20px;
    width: 20px;
    color: #333;
}
.chatFooter .inputMessage{
    width: 90%;
}
.chatFooter .inputMessage input{
    border: 2px solid #333;
    border-radius: 8px;
}


/* Tab 2 */

/* buyer details */
.userActivity #details .buyer{
    border: 1px solid #c5c6c9;
    border-radius: 5px;
    width: 50%;
}
.userActivity #details img{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover;
}

/* Right Container */
.orderContent .orderDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 44%;
    height: 100%;
    margin-top: 16px;
    gap: 16px;
}

/* Right Container Upper Part */
.orderContent .orderDetailsUpperContainer{
    width: 100%;
    background-color: #fff;
    border: 1px solid #c5c6c9;
    border-radius: 5px;
    height: 50%;
    padding: 16px;
}
.orderDetails .deadline{
    margin-bottom: 24px;
}
.orderDetails .deadline span{
    color: #404145;
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 18px;
}
.orderDetails .timer{
    border-radius: 8px;
}
.orderDetails p{
    border: 1px solid #c5c6c9;
    border-radius: 8px;
    height: fit-content;
    width: 100%;
    text-align: center;
    font-size: 64px;
    padding: 32px 16px;
    margin-bottom: 16px;
    line-height: 120%;
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.orderDetails .orderState{
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.orderDetails .orderStateHeader{
    background-color: #c5c6c9;
    border-radius: 8px;
    height: fit-content;
    padding: 0 2px;
    width: 100%;
    font-size: 18px;
    color: black;
}
.orderDetails .row{
    display: flex;
    gap: 16px;
    padding: 0px !important;
}
.buttonType-1{
    width: 100%;
    padding: 8px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    border: none;
    transition: ease-in-out 0.3s;
    background-color: #31d65a;
}
a {
    text-decoration: none;
}
.buttonType-1:hover{
    color: #333;
    background-color: rgb(241, 241, 241);
    font-weight: 500;
}
.buttonType-2{
    width: 100%;
    padding: 8px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    border: none;
    transition: ease-in-out 0.3s;
    background-color: #C72300;
}
.buttonType-2:hover{
    color: #333;
    background-color: rgb(241, 241, 241);
    font-weight: 500;
}

/* Right Container Bottom Part */
.orderContent .orderDetailsBottomContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    background-color: #fff;
    border: 1px solid #c5c6c9;
    border-radius: 8px;
    padding: 16px;
}
.orderDetailsBottomContainer .orderDetailsBottomLeftContainer{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.orderDetailsBottomContainer .orderDetailsBottomRightContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.buttonType-3{
    cursor: pointer;
    width: 100%;
    height: 32px;
    /* padding: 8px; */
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #333;
    border: 2px solid #333;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
    background-color: #fff;
}


@media only screen and (max-width: 900px) {
    .orderContainer {
        margin: 0px;
        padding: 16px 32px;
    }
    .orderContent{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    .userActivity {
        width: 100%;
        height: 600px;
    }
    .orderContent .orderDetails {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        margin-top: 16px;
        gap: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .orderContent{
        display: flex;
        flex-direction: column;
    }
}