body{
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
header{
    background-color: #fff !important;
}
.footer{
    background-color: #fff !important;
}



/* Main Container */
.orderContainer{
    margin: 16px 32px;
    padding: 16px 32px;
}

/* Tab Section */
.orderContainerHeader{
    border-bottom: 2px solid #c5c6c9;
}
.orderContainerHeader button {
    cursor: pointer;
    background-color: inherit;
    font-size: 20px;
    border: none;
    margin-right: 16px;
    padding-bottom: 4px;
    border-bottom: 4px solid transparent; 
}
.orderContainerHeader button:hover {
    color: #1dbf73;
    border-bottom-color: #1dbf73; 
}
.active{
    color: #1dbf73;
    border-bottom: 4px solid #1dbf73;
}

/*Tab Content*/
.orderContent{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}


/* Left Container*/
.userActivity{
    width: 60%;
    background-color: #fff;
    margin-top: 16px;
    border: 1px solid #c5c6c9;
    border-radius: 5px;
}

/* Tab 1 */
.userActivity .tabContent{
    padding: 16px 32px;
}
.userActivity p{
    text-align: justify;
}

/* Tab 2 */

/* buyer details */
.userActivity #details .buyer{
    border: 1px solid #c5c6c9;
    border-radius: 5px;
    width: 50%;
}
.userActivity #details img{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover;
}


/* Right Container */
.orderContent .orderDetails{
    width: 40%;
    background-color: #fff;
    margin-top: 16px;
    border: 1px solid #c5c6c9;
    border-radius: 5px;
    height: 300px;
}
.orderDetails .timer{
    border: 1px solid black;
    border-radius: 8px;
}
.orderDetails p{
    text-align: center;
    font-size: 32px;
    margin-top: 0px;
}

