body{
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #f7f7f7;*/
}
.container{
    height: 100%;
    width: 100%;
    padding: 50px 100px 0px 100px;
}
.container .sub-container{
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 100px;
}
.sub-container .profile-container{
    margin-bottom: 32px;
    width: 30%;
}
.profile-container .profile{
    position: relative;
    background-color: #fff;
    border: 1px solid #dadbdd;
    padding: 32px;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 32px;
    box-sizing: border-box;
}

/*Active Status*/
.profile-container .profile .active-status{
    position: absolute; 
    right: 0px; 
    height: 20px; 
    left: 0px;
}
/*Profile Pic upload*/
.profile-container .profile .profile-picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.profile-container .profile .profile-picture img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
}
.profile-container .profile .profile-picture .full-name{
    margin-top: 16px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #222325;
    cursor: default;
    background: none;
    border: 0;
}
.profile-container .profile .profile-picture .user-name{
    margin-bottom: 16px;
}
/**/
/*preview-profile*/
.preview-profile button{
    width: 100%;
    height: 32px;
    margin-bottom: 8px;
    color: #333;
    border: 2px solid #333;
    background: none;
    border-radius: 5px;
    font-size: 14px;
    transition: ease-in-out 0.3s;
}
.preview-profile button:hover{
    color: #fff;
    background: #1dbf73;
    border: 2px solid #fff;
}
/*edit-profile*/
.edit-profile button{
    width: 100%;
    height: 32px;
    margin-bottom: 16px;
    color: #333;
    border: 2px solid #333;
    background: none;
    border-radius: 5px;
    font-size: 14px;
    transition: ease-in-out 0.3s;
}
.edit-profile button:hover{
    color: #fff;
    background: #62646a;
}
/*User Info*/
.profile-container .profile .user-info{
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 2px solid #dadbdd;
    border-bottom: 2px solid #dadbdd;
}
.profile-container .profile .user-info svg{
    width: 16px;
    height: 16px;
    color: #333;
    margin-right: 8px;
}
.profile-container .profile .user-info .info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.profile-container .profile .user-info span{
    display: flex;
    align-items: center;
}

/*education-skills-certificates-languages*/
.profile .education ,.profile .skills, .profile .certificates, .profile .languages{
    border-bottom: 2px solid #dadbdd;
    text-align: justify;
}
.profile .topic{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.profile .description .description-content{
    text-align: justify;
}
/*user contribution*/
.container .sub-container .user-contribution{
    margin-bottom: 32px;
    width: 70%;
}

/*user-content-header*/
.container .sub-container .user-contribution .user-content .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    color: #0e0e0f;
    background-color: #fff;
    border: 1px solid #dadbdd;
    margin-bottom: 16px;
    padding: 22px 16px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}
.container .sub-container .user-contribution .user-content .header span:hover{
    text-decoration: underline;
    border-bottom: 4px solid #1dbf73;
    padding-bottom: 2px;
    text-decoration: none;
}
.container .sub-container .user-contribution .user-content .header button{
    color: #0e0e0f;
    border: 2px solid #fff;
    padding: 8px;
    background: none;
    border-radius: 5px;
    font-size: 14px;
    transition: ease-in-out 0.3s;
}
.container .sub-container .user-contribution .user-content .header button:hover{
    color: #fff;
    border: 2px solid #fff;
    background: #1dbf73;
}

/*user-content-content*/
.container .sub-container .user-contribution .content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 16px;
}



/*reviews*/
.container .sub-container .user-contribution .reviews{
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #dadbdd;
    padding: 32px 16px;
    font-size: 14px;
}

/*reviews-header*/
.container .sub-container .user-contribution .reviews .header{
    width: 100%;
    color: #0e0e0f;
    background-color: #fff;
    margin-bottom: 16px;
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 32px;
    border-bottom: 2px solid #dadbdd;
}
/*reviews-review-content*/
.review-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.review-content svg{
    color: #dadbdd;
    height: 100px;
    width: 100px;
}




@media only screen and (max-width: 600px) {
    .container{
        height: 100%;
        width: 100%;
        padding: 32px 16px;
    }
    .container .sub-container{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .sub-container .profile-container{
        width: 100%;
    }
    .container .sub-container .user-contribution{
        width: 100%;
    }
    .job-card .job-data-basic{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media only screen and (max-width: 900px) {
    .container{
        height: 100%;
        width: 100%;
        padding: 32px 16px;
    }
    .container .sub-container{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .sub-container .profile-container{
        width: 100%;
    }
    .container .sub-container .user-contribution{
        width: 100%;
    }
}