* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;;
}

header {
    background-color: #fff;
    color: #333;
}

header .upperHeader{
    height: 80px;
    width: 100%;
    padding: 32px 64px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #62646A;
    box-sizing: border-box;
}


@media only screen and (max-width: 767px) {
    header .upperHeader  {
        height: 116px;
        border-bottom: 2px solid #62646A;
    }
}

/*logo*/

.logo a {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/*search bar*/

.upperHeader .searchBar{
    flex-basis: 200%;
    margin-left: 20px;
    margin-right: 20px;
}

.upperHeader .searchBar form{
    display: flex;
    width: 100%;
}

.upperHeader .searchBar input[type=text] {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    border: 1px solid #c5c6c9;
    border-radius: 4px 0 0 4px;
    border-right: 0;
}

.upperHeader .searchBar button {
    display: block;
    text-align: left;
    margin: 0;
    padding: 14px;
    cursor: pointer;
    border: 1px solid #c5c6c9;
    border-radius: 0 4px 4px 0;
}

.upperHeader .searchBar button:hover {
    background: #c5c6c9;
}

.submenu {
    position: absolute;
}

.submenu ul{
    flex-direction: column;
    position: absolute;
    background-color: white;
    align-items: flex-start;
    transition: all 0.5s ease;
    width: 20rem;
    right: -3rem;
    top: 4.5rem;
    border-radius: 0.325rem;
    gap: 0;
    padding: 1rem 0rem;
    opacity: 0;
    box-shadow: 0px 0px 100px rgba(20, 18, 18, 0.25);
    display: none;
}

.submenu ul li {
    list-style-type: none;
    position: relative;
    padding: 0.625rem 0 0.5rem;
}

@media screen and (max-width: 767px) {

    .upperHeader .navbar{
        display: none;
    }

    .upperHeader{
        display: flex;
        flex-direction: column;
    }

    .upperHeader .searchBar{
      width: 100%;
    }

    .upperHeader .searchBar form{
        width: 100%;
        margin-bottom: 10px;
    }

    .upperHeader .logo {
        margin-bottom: 10px;
        margin: 0 auto;
    }

    .upperHeader .searchBar a, .upperHeader .searchBar input[type=text]{
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .upperHeader .searchBar input[type=text] {
        border: 1px solid #c5c6c9;
    }
}

@media only screen and (max-width: 1500px) {
    .navbar .wordLink  {
        display: none;
    }
}

/*navbar and navigation links*/

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 64px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}
.nav-links .wordLink:hover {
    text-decoration: underline;
    border-bottom: 4px solid #1dbf73;
    padding-bottom: 2px;
    text-decoration: none;
}
.nav-links a {
    color: #333;
    text-decoration: none;
}
.upperHeader svg {
    width: 24px;
    height: 24px;
    font-size: 14px;
    color: #333;
    margin-right: 10px;
    align-items: center;
}

@media only screen and (max-width: 1500px) {
    .upperHeader .searchBar{
        flex-basis: 500%;
        margin-left: 20px;
        margin-right: 20px;
    }
    

      .upperHeader .searchBar a, .upperHeader .searchBar input[type=text]{
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .upperHeader .searchBar input[type=text] {
        border: 1px solid #c5c6c9;
    }
}


@media only screen and (max-width: 767px) {
    .navbar  {
        display: none;
    }
}

/*header categories*/

.headerCategories nav .nav-links {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #62646A;
    border-bottom: 2px solid #62646A;
    padding: 10px 32px 10px 32px;
}

@media only screen and (max-width: 600px) {
    .headerCategories  {
        overflow: scroll;
        overflow-y: hidden;
    }
}

@media only screen and (max-width: 1400px) {
    .headerCategories  {
        width: auto;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}


