body{
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

/* All styles are in sequential order of the view page top to bottom */
.container {
    background-color: #f7f7f7;
    border: 1px solid #c5c6c9;
    padding-bottom: 32px;
    height: 100%;
}

.profile-container{

    background-color: #fff;
    margin: 32px;
    box-sizing: border-box;
    border: 1px solid #c5c6c9;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 8px;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.profile-header{
    padding: 16px;
}

.seller{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: 1px solid #c5c6c9;
    padding: 16px;
    border-radius:15px ;
}

@media only screen and(min-width:600px) {
    .seller{
        display: flex;
        flex-direction: column;
    }
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    display: flex;
    justify-content: flex-start;
    padding: 2px;
}

.icons-content{
    /* display: flex; */
    padding: 2px;
    flex-direction: column;
    margin: 7px;
}

.icon-name{
    font-size: 30px;
    font-weight: bold;
    margin: 7px;
    padding: 2px;
    padding-left: 10px;
}

.icon-location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px;
}

.icon{
    width: 20px;
    height: 20px;
    padding: 10px;
}

.icon-location-value{
    font-size: 20px;
}

.icon-time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 7px;
    font-size: 18px;
}

.time{
    margin: 7px;
}

.buttons{
    padding: 15px;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

#button{
    /* display: flex; */
    justify-content:end;
    align-items: end;
    background-color:#32bd6e;
    color: white;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}

#button:hover{
    cursor: pointer;
}

.profile-content{
    font-family: sans-serif;
    box-sizing:inherit;
    display: flex;
    justify-content:space-evenly; 
    margin-top: 8px;
    border: 1px solid #c5c6c9;
    margin: 16px;
    border-radius:15px ;
    
}

.profile-content1{
    border-right: 1px solid #c5c6c9;
    width: 50%;
    min-height: 500px;
    height: auto;
}

.content-category1{

}

/* occurring multiple times in the view page */
.profile-content-category-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* occurring multiple times in the view page */
.Topics{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

/* occurring multiple times in the view page */
.profile-content-category-content{
    padding: 16px;
    border-bottom: 1px solid #c5c6c9;

}

.profile-content2{
    width: 50%;
    min-height: 500px;
    height: auto;
    text-align: justify;
}

.content-category2{

}

.other-category-container{
    background-color: #fff;
    margin: 32px;
    box-sizing: border-box;
    border: 1px solid #c5c6c9;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 16px;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
}

#gigs{

}

.other-category-header{
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
    width: auto;
    height: auto;
    border-bottom: #c5c6c9 1px solid;
}

.plus{

}

#plus{
    justify-content:end;
    align-items: end;
    background-color:#32bd6e;
    color: white;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
}

#plus:hover{
    cursor: pointer;
    background-color: rgb(25, 125, 92);
}

.recentGigs{

}

#content{

}

.recentGigsContent{

}