.add{
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #32bd6e;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

body{
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

#button{
    /* display: flex; */
    justify-content:end;
    align-items: end;
    background-color:#32bd6e;
    color: white;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}

.buttons{
    padding: 15px;
    /* display: flex;
    justify-content:center;
    align-items: end;
    background-color:#32bd6e;
    color: white;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    margin: 10px; */
}

#button:hover{
    cursor: pointer;
}

.card{
    width: 300px;
    background-color:#32bd6e;
    margin: 7px;
    transition: transform 0.5s ease, background-color 0.4s ease;
}

.card:hover{
    transform : translateY(-15px);
    background-color:#32bd6e;
}

.card img{
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}
.card-container{
    font-family: sans-serif;
    box-sizing:inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content:center; 
    margin: 10px;
}

.card-content{
    font-size: 18px;
    padding: 12px;
    color: #fff;
}

.card-content p{
    font-size: 15px;
    margin-bottom: 15px;
}

.card-content a{
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #32bd6e;
    margin-bottom: 10px;
}

.card-content h2{
    font-size: 25px;
    margin-bottom: 10px;
}

.container{
    background-color: #f7f7f7;
    border: 1px solid #c5c6c9;
    padding-bottom: 32px;
    height: 100%;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    /* max-width: 1240px; */
    padding: 20px;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.content-category{
    /* flex-grow: 1; */
}

.hr-line{
    color: #e5e8efeb;
    
}

.img{
    display: flex;
    justify-content: flex-start;
    padding: 2px;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 20px;
    height: 20px;
    padding: 10px;
}

.icons{
    width: 20px;
    height: 20px;
    padding: 10px;
}

.icons-content{
    /* display: flex; */
    padding: 2px;
    flex-direction: column;
    margin: 7px;
}

.icon-time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 7px;
    font-size: 18px;
}

.icon-name{
    font-size: 30px;
    font-weight: bold;
    margin: 7px;
    padding: 2px;
    padding-left: 10px;
}

.icon-location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px;
}

.icon-location-value{
    font-size: 20px;
}

.intro-Topic{
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container{
    max-width: 600px;
    background: #fff;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    box-shadow: 0 2px 2px 3px rgb(0, 0, 0,0.1);
}

.other-category-container{
    background-color: #fff;
    margin: 32px;
    box-sizing: border-box;
    border: 1px solid #c5c6c9;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 16px;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.other-category-content{

}

.other-category-header{
    display: flex;
    justify-content: space-between;
    border-radius: 100%;
    object-fit: cover;
    width: auto;
    height: auto;
}

.personal-information{
    padding: 20px;
}

.profile-content-category-content{
    margin-left: 18px;
    padding: 15px;
}

.profile-content-category-header{
    display: flex;
    justify-content: space-between;
}

.profile-container{

    background-color: #fff;
    margin: 32px;
    box-sizing: border-box;
    border: 1px solid #c5c6c9;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 16px;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
}

#plus{
    justify-content:end;
    align-items: end;
    background-color:#32bd6e;
    color: white;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
}

#plus:hover{
    cursor: pointer;
    background-color: rgb(25, 125, 92);
}

.profile-content{
    /* justify-content: center; */
    /* align-items: center; */
    font-family: sans-serif;
    box-sizing:inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly; 
    margin: 10px;
    /* border: 1px solid #c5c6c9; */
    object-fit: cover;
    margin-top: 16px;
    /* padding: 16px; */
    
}

.profile-content1{
    /* display: flex; */
    border: 1px solid #c5c6c9;
    /* width: 100px;
    height: 100px; */
    flex-grow: 1;
    /* border-right: 1px solid #c5c6c9; */
    
}

.profile-content2{
    /* display: flex; */
    border: 1px solid #c5c6c9;
    /* width: 500px;
    height: 0px; */
    flex-grow: 1;
}

.profile-header{
    padding: 16px;
}

/*profile-header*/
.profile-header img{
    border-radius: 100%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.seller{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.seller-functions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.time{
    margin: 7px;
}

.Topics{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e4e1e1;
}