body{
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}
/*  */
/*Main Container */
.sentJobPropContainer{
    padding: 16px 32px;
    width: 100%;
    min-height: calc(100vh - 60px);
    height: auto;
    box-sizing: border-box;
  }

/*Topic*/
.sentJobPropHeader{
    min-height: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 32px;
    font-weight: 700;
    color: #222325;
    line-height: 140%;
    padding: 0 32px;
}

/*Content*/
.sentJobPropContent{
    margin-right: 32px;
    margin-left: 32px;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    height: calc(100vh - 180px);
}  
.sentJobPropContent .rightContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18%;
}
.sentJobPropContent .leftContainer{
    width: 100%;
}

/* Style the tab */
.sentJobPropContainer .tab {
    border-radius: 8px 8px 0 0;
    height:32px;
    width: 100%;
    overflow: hidden;
    border: none !important;
    background-color: #f1f1f1;
    justify-content: space-between;
}
  
  /* Style the buttons that are used to open the tab content */
.sentJobPropContainer .tab button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 32px;
    font-size: 16px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.sentJobPropContainer .tab button:hover {
    background-color: #404145;
    color: #ffffff;
}

/* Create an active/current tablink class */
.sentJobPropContainer .tab button.active {
    background-color: #404145;
    color: #ffffff;
}

/* Style the tab content */
.sentJobPropContainer .tabcontent {
    display: none;
    background-color: inherit;
    padding: 16px 0px;
    border: none !important;
    height: calc(100vh - 208px);
    width: 100%;
}

/*styling table*/
.outerTable {
    height: 100%;
    overflow: auto;
}

.notFound{
    margin-top: 24px;
    display: flex;
    text-align:center;
    justify-content: center;
    line-height: 72px;
    font-size: 28px;
}

.lottieAnim{
    display: flex;
    justify-content: center;
}

.notFound h1{
    font-size: 64px;
}

.containerNotFound{
    display:flex;
    justify-content: center;
    align-items: center;
}

table{
    margin-top: 16px;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
}
table, th, td{
    border-collapse: collapse !important;
    border-bottom: 1px solid #c5c6c9 !important;
}
Tbody tr{
    cursor:auto;
}
Tbody tr:hover{
    background-color: #fff!important;
}
Tbody th {
    font-size: 16px;
}
Tbody td{
    justify-content: center;
    text-align: center;
    padding: 8px;
}

.clearAllAnc{
    color: #e41f11;
}

/*buyer column*/
.Buyer{
    display: flex;
    align-items:center;
}

.BuyerImg{

}

.BuyerText{
    /* font-size: 16px; */
}

/* .Buyer img{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover;
} */

.buyerImgsentJobProps{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.tablinks{
    height:100%;
}

@media only screen and (max-width: 900px) {
    .sentJobPropContent{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 32px;
        height: calc(100vh - 180px);
    }  
    
    .sentJobPropContent .rightContainer{
        display: none;
    }
    
    .sentJobPropContent .leftContainer{
        width: 100%;
    }

    .sentJobPropContent .tab{
        display: flex;
        flex-wrap: wrap;
    }
}