body{
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* Main Container */
.sharePointContainer{
    padding: 16px 32px;
    width: 100%;
}

/* Header */
.sharePointHeader{
    min-height: 24px;
    margin-top: 24px;
    font-size: 32px;
    font-weight: 700;
    color: #222325;
    line-height: 140%;
    padding: 0 32px;
}

/* Inner container */
.sharePointContainer .container{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-right: 32px;
    margin-left: 32px;
    padding: 0px 16px;
    height: 632px;
}
.sharePointContainer textarea{
    font: 16px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    border-radius: 8px !important;
    font-size: 16px;
    padding: 8px;
    height: 25%;
    cursor: auto;
    border: 1px solid #333;
}

.sharePointContainer .column{
    display: flex;
    flex-direction: column;
}
.sharePointContainer .title{
    height: 10%;
    font-size: medium;
    /* color: #333; */
    font-weight: 500;
    margin-bottom: 16px;
}
.darkTitle{
    color: #222325;
    font-size: 24px;
}

/* left container */
.sharePointContainer .leftContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 44%;
    background-color: #fff;
    margin-top: 16px;
    padding: 16px;
    border: 1px solid #c5c6c9;
    border-radius: 8px;
}
.sharePointContainer .leftUpperContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sharePointContainer .leftUpperContainer .deliveryFiles{
    /* border: 1px solid #c5c6c9; */
    border-radius: 8px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.sharePointContainer .deliveryFiles .animation{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* right container */
.sharePointContainer .rightContainer{
    height: fit-content;
    width: 56%;
    background-color: #fff;
    margin-top: 16px;
    padding: 16px;
    padding: 16px;
    border: 1px solid #c5c6c9;
    border-radius: 8px;
}
.sharePointContainer .type-1{
    margin-top: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #404145;
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.sharePointContainer form{
    height: 100%;
    width: 100%;
}
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #007bff;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-bottom: 10px;
}

/* subsection */
.subsection {
    background-color: #ececec;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 7px;
}
.subsection-title {
    color: #007bff;
    padding-top: 16px;
}
.uploadbtnx {
    float: right;
    pointer-events: none;
    background-color: rgb(85, 85, 85);
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    transition: ease-in-out 0.3s;
}
.image-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 150px;
}
.image-container img {
    width: 500px;
}

/* file card */
.file {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 1px #c9c9c9;
    background-color: rgb(255, 255, 255);
}
.file .fileIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}
.file .fileDetails{
    width: 80%;
}
.file .downloadDeleteIcon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.downloadimg {
    float: right;
    width: 50px;
    height: 50px;
}
.fileimg {
    width: 50px;
    height: 50px;
}

/* file container */
.filecontainer {
    width: 100%;
    padding: 8px;
}


/* Safari */
@-webkit-keyframes spin {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}

@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
.progress {
    font-size: medium;
    font-weight: 600;
    color: #007bff;
}
.fullpage {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sucess {
    width: 200px;
    height: 200px;
}
.sucess-text {
    font-size: medium;
    text-align: center;
    font-weight: 600;
    color: #089c21;
}
.faild-text {
    font-size: medium;
    text-align: center;
    font-weight: 600;
    color: #c02d09;
}
.backlink {
    text-decoration: none;
}
.back {
    padding: 10px;
    color: white;
    background-color: #00ad2b;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
}
.productcontainer {
    padding: 5px;
    padding-left: 10px;
    color: white;
}
.product {
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #c9c9c9;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    grid-auto-rows: repeat(3, 1fr);
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}
.productimg {
    grid-column: 1;
    grid-row: 1/4;
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
}
.producttime {
    margin-right: 10px;
    margin-bottom: 5px;
    grid-column: 1/4;
    grid-row: 3;
    text-align: right;
    font-size: small;
    color: white;
}

@media only screen and (max-width: 900px) {
    .sharePointHeader {
        min-height: 24px;
        margin-top: 24px;
        font-size: 32px;
        font-weight: 700;
        color: #222325;
        line-height: 140%;
        padding: 0px;
    }
    .sharePointContainer .container{
        display: flex;
        flex-direction: column-reverse;
        gap: 0px;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px;
        height: 100%;
    }
    .sharePointContainer .leftContainer{
        width: 100%;
    }
    .sharePointContainer .rightContainer{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .sharePointHeader {
        min-height: 24px;
        margin-top: 24px;
        font-size: 32px;
        font-weight: 700;
        color: #222325;
        line-height: 140%;
        padding: 0px;
    }
    .sharePointContainer .container{
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px;
        height: 100%;
    }
    .sharePointContainer .leftContainer{
        width: 100%;
    }
    .sharePointContainer .rightContainer{
        width: 100%;
        height: auto;
    }
}