.title{
    color:#007bff;
    font-size: 30px;
}
.dark-title{
    color:#4b4b4b;
    font-size: 20px;
}
.btn-group{
    display: flex;/*make button side by side */flex-wrap: wrap;
}
.buyerHelpContainer, .sellerHelpContainer{
    padding: 16px 32px;
    border: none !important;
}
.buyerHelpContainer .rightContainer, .sellerHelpContainer .rightContainer{
    width: 30%;
    display: flex;
    justify-content: center;
}
.buyerHelpContainer .leftContainer, .sellerHelpContainer .leftContainer{
    width: 70%;

}
.buyerHelpContainer .container, .sellerHelpContainer .container{
    display: flex;
    margin-right: 32px;
    margin-left: 32px;
    padding: 0px 16px;
}
.buyerHelpHeader, .sellerHelpHeader{
    min-height: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 32px;
    font-weight: 700;
    color: #222325;
    line-height: 140%;
    padding: 0 32px;
}


/*****************************************************/
/*********** Advertisement Help *********************/

.sub-title
{
    color:#007bff;
    font-size: 18px;
    margin-bottom: 5px;
}
.buyerHelpContainer li, .sellerHelpContainer li{
    font-size: 17px;
    color: #333;
}
.buyerHelpContainer a, .sellerHelpContainer a{
    text-decoration: none;
}
.subans
{
    margin-left: 50px;
}


/*****************************************************/
/*********** Seller/Buyer Help *********************/

/* for recommanded buttons */
.btn4
{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:1px 1px 10px #888888;
    height: 150px;
    width:170px;
    text-align: center;
    font-weight: 550;
    margin-right: 32px;
    transition : 0.8s;
    color: black;
    padding: 16px;
    margin-bottom: 32px;
    border: 1px solid #c5c6c9;
    border-radius: 4px;
}
/* when button is hover by mouse pointer */
.btn4:hover{
    transform:scale(1.04) translateY(-5px);
    transition : 0.2s;
}
.btncontainer{
    display: flex;
}
.createbtn{
    padding: 9px 20px;
    text-align: center;
    border-radius: 7px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #31d65a;
    width: 400px;
    font-size:15px;
    margin-right: 20px;
    transition: ease-in-out 0.3s;
}
.createbtn:hover
{
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    
}

/* for recommanded buttons */
.helpCenterContainer .btn3{
    color: black;
    padding: 16px;
    margin-bottom: 8px;
    border: 1px solid #c5c6c9;
    border-radius: 4px;
    transition : 0.3s;/*animation time*/
}
/* when button is hover by mouse pointer */
.helpCenterContainer .btn3:hover{
    transition : 0.3s; /*animation time*/
    background-color: #404145;
    color: #ffffff;
}

@media only screen and (max-width: 900px) {
    .buyerHelpContainer .container, .sellerHelpContainer .container {
        margin-right: 0px;
        margin-left: 0px;
    }
    .helpCenterHeader{
        padding: 0px;
    }
    .buyerHelpContainer .rightContainer, .sellerHelpContainer .rightContainer{
        width: 100%;
    }
    .buyerHelpContainer .leftContainer, .sellerHelpContainer .leftContainer{
        width: 100%;
    }
    
}
@media only screen and (max-width: 600px) {
    .buyerHelpContainer .container, .sellerHelpContainer .container {
        display: flex;
        flex-direction: column-reverse;
        margin-right: 0px;
        margin-left: 0px;
    }
    .buyerHelpHeader, .sellerHelpHeader{
        padding: 0px;
    }
    .buyerHelpContainer .rightContainer img, .sellerHelpContainer .rightContainer img{
        margin-bottom: 16px;
    }
    .btn4{
        margin-right: 16px;
        margin-bottom: 16px;
    }
    
}